<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div class="card bg-dark my-5">
        <div class="card-body">
            <select required name="dropdownOption" id="dropdownOption" class='form-control'>
              <option *ngFor="let user of users" [value]="user.userName">{{ user.userName}}</option>
            </select>

          <!--<ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
              <button *ngIf="app.isLoggedIn()" (click)="logout()"><b>Logout</b></button>
              <button *ngIf="!app.isLoggedIn()" routerLink="activate" routerLink="/login"><b>Login</b></button>
            </li>
          </ul>-->
          <h2 class="card-title text-center text-white py-3">{{ title }}</h2>
          <ul  class="text-center list-inline py-3">
            <li class="list-inline-item">
              <a routerLink="/accounts" class="btn btn-info">List Accounts</a>
            </li>
            <li class="list-inline-item">
              <a routerLink="/addaccounts" class="btn btn-info">Add Account</a>
            </li>
          </ul>
        </div>
      </div>
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

